<div class="modal">
  <div class="modal-title">
    <div class="title">{{modalTitle}}</div>
    <mat-icon class="closeBtn" (click)="matDialogRef.close()">close</mat-icon>
  </div>
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- marque name -->
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Nom</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Le nom" formControlName="nom" />
              <mat-error *ngIf="categorieForm.get('nom')?.touched && categorieForm.get('nom')?.invalid">
                Le nom est obligatoire
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Code </mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Le code" formControlName="code"/>
              <mat-error *ngIf="categorieForm.get('code')?.touched && categorieForm.get('code')?.invalid">
                Le code est obligatoire
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Boutons d'action -->
        <div class="m-t-12">
            <button *ngIf="action == 'new'" mat-flat-button color="primary" class="m-r-8" [disabled]="!categorieForm.valid" (click)="onSubmit()">
              @if(isLoading){
                <mat-spinner *ngIf="isLoading" diameter="20" class="general-loader"></mat-spinner>
              } @else {
                <span>Ajouter</span>
              }
            </button>
            <button *ngIf="action == 'edit'" mat-flat-button color="primary" class="m-r-8" [disabled]="!categorieForm.valid" (click)="onSubmit()">
              @if(isLoading){
                <mat-spinner *ngIf="isLoading" diameter="20" class="general-loader"></mat-spinner>
              } @else {
                <span>Modifier</span>
              }
            </button>

          <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Annuler</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>




