<div class="modal">
  <div class="modal-title">
    <div class="title">{{ modalTitle }}</div>
    <mat-icon class="closeBtn" (click)="matDialogRef.close()">close</mat-icon>
  </div>

  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- Code -->
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Code</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Ex: PHONE12" formControlName="code" />
              <mat-error *ngIf="code?.touched && code?.invalid">Le code est obligatoire</mat-error>
            </mat-form-field>
          </div>

          <!-- Nom -->
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Nom</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Ex: iPhone 12" formControlName="nom" />
              <mat-error *ngIf="nom?.touched && nom?.invalid">Le nom est obligatoire</mat-error>
            </mat-form-field>
          </div>

          <!-- Prix -->
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Prix</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="number" placeholder="Ex: 1 000" formControlName="prix"/>
              <mat-error *ngIf="prix?.touched && prix?.invalid">Le prix est obligatoire</mat-error>
            </mat-form-field>
          </div>

          <!-- Catégorie -->
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Catégorie</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="categorieId" placeholder="Sélectionner une catégorie">
                <mat-option *ngFor="let cat of categories" [value]="cat.id">
                  {{ cat.nom }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="categorieId?.touched && categorieId?.invalid">La catégorie est obligatoire</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Boutons -->
        <div class="m-t-12">
            <button *ngIf="action == 'new'" mat-flat-button color="primary" class="m-r-8" [disabled]="!produitForm.valid" (click)="onSubmit()">
              @if(isLoading){
                <mat-spinner *ngIf="isLoading" diameter="20" class="general-loader"></mat-spinner>
              } @else {
                <span>Ajouter</span>
              }
            </button>
            <button *ngIf="action == 'edit'" mat-flat-button color="primary" class="m-r-8" [disabled]="!produitForm.valid" (click)="onSubmit()">
              @if(isLoading){
                <mat-spinner *ngIf="isLoading" diameter="20" class="general-loader"></mat-spinner>
              } @else {
                <span>Modifier</span>
              }
            </button>

          <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Annuler</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
