<!-- Dans votre template achat.component.html -->
<div class="modal" style="max-height: 30em; overflow: scroll">
  <div class="modal-title">
    <div class="title">{{ modalTitle }}</div>
    <mat-icon class="closeBtn" (click)="onCancel()">close</mat-icon>
  </div>
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <form [formGroup]="achatForm" (ngSubmit)="onSubmit()">
        <!-- Fournisseur -->
        <div class="row">
          <div class="col-12">
            <mat-label class="f-w-600 m-b-8 d-block">Fournisseur</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="fournisseur" placeholder="Sélectionnez un fournisseur">
                <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">
                  {{ fournisseur.nom + ' ' + fournisseur.prenom }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="achatForm.get('fournisseur')?.touched && achatForm.get('fournisseur')?.invalid">
                Le fournisseur est obligatoire
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row d-lg-flex justify-content-lg-end align-items-lg-center">
          <button mat-stroked-button color="success" type="button" (click)="addProduit()">Ajouter un produit</button>
        </div>

        <!-- Liste des Produits -->
        <div formArrayName="produits" class="row">
          <div *ngFor="let produitGroup of produits.controls; let i = index" [formGroupName]="i" class="col-12 d-lg-flex justify-content-lg-center align-items-lg-center">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Produit</mat-label>
                <mat-select formControlName="produit" placeholder="Sélectionnez un produit">
                  <mat-option  *ngFor="let produit of productList" [value]="produit.id"  [disabled]="productSelected.includes(produit.id)">
                    {{ produit.description + ' - ' + produit.categorie }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="produitGroup.get('produit')?.touched && produitGroup.get('produit')?.invalid">
                  Le produit est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Prix d'achat</mat-label>
                <input matInput type="number" placeholder="Prix d'achat" formControlName="prixAchat">
                <mat-error *ngIf="produitGroup.get('prixAchat')?.touched && produitGroup.get('prixAchat')?.invalid">
                  Le prix d'achat est obligatoire et doit être positif
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Quantité</mat-label>
                <input matInput type="number" placeholder="Quantité" formControlName="quantite">
                <mat-error *ngIf="produitGroup.get('quantite')?.touched && produitGroup.get('quantite')?.invalid">
                  La quantité est obligatoire et doit être positif
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <button mat-icon-button color="warn" type="button" (click)="removeProduit(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- Boutons d'action -->
        <div class="m-t-12">
          <button mat-flat-button color="primary" type="submit" [disabled]="!achatForm.valid">
            {{ action === 'new' ? 'Ajouter' : 'Modifier' }}
          </button>
          <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Annuler</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
