<mat-card class="cardWithShadow overflow-hidden">
  <form [formGroup]="achatForm" (ngSubmit)="onSubmit()" class="p-3">
    <mat-card-content>
      <div style="display: flex; justify-content: space-between; align-items: center; margin: 0.3em;">
        <mat-card-title class=" m-b-4">Faire un approvisionnemnt</mat-card-title>
        <button mat-flat-button color="primary" type="submit" [disabled]="achatForm.invalid" >
          <span>Confirmer l'achat</span>
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <mat-progress-bar mode="indeterminate" value="40" *ngIf="isLoading"></mat-progress-bar>
    </mat-card-content>

    <div class="row" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 1em 1.8em;">
      <!-- Prénom du fournisseur -->
      <div class="col-12 col-md-4">
        <mat-label class="f-w-600 m-b-8 d-block">Prénom du fournisseur</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Prénom du fournisseur" formControlName="prenom" />
          <mat-error *ngIf="achatForm.get('prenom')?.touched && achatForm.get('prenom')?.invalid">
            Le prénom du fournisseur est obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Nom du fournisseur -->
      <div class="col-12 col-md-4">
        <mat-label class="f-w-600 m-b-8 d-block">Nom du fournisseur</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Nom du fournisseur" formControlName="nom" />
          <mat-error *ngIf="achatForm.get('nom')?.touched && achatForm.get('nom')?.invalid">
            Le nom du fournisseur est obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Téléphone du fournisseur -->
      <div class="col-12 col-md-4">
        <mat-label class="f-w-600 m-b-8 d-block">Téléphone du fournisseur</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="phone" placeholder="Téléphone du fournisseur" formControlName="telephone" />
          <mat-error *ngIf="achatForm.get('telephone')?.touched && achatForm.get('telephone')?.invalid">
            Le téléphone du fournisseur est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="produitDataSource" formArrayName="produits"  class="w-100">
        <ng-container matColumnDef="produit">
          <th mat-header-cell *matHeaderCellDef  class="mat-subtitle-1 f-s-14">Produit</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div [formGroupName]="i">
              <mat-select formControlName="produit" placeholder="Sélectionnez un produit">
                <mat-option  *ngFor="let produit of productList" [value]="produit.id"  [disabled]="productSelected.includes(produit.id)">
                  {{ produit.description + ' - ' + produit.categorie }}
                </mat-option>
              </mat-select>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="prix_achat">
          <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
            Prix d'achat
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Prix" formControlName="prixAchat">
              </mat-form-field>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="quantite">
          <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
            Quantité
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Quantité" formControlName="quantite">
              </mat-form-field>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
            Actions
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="warn" (click)="removeProduit(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="padding-bottom-3 col-12 d-flex justify-content-center">
      <button mat-flat-button color="primary" (click)="addProduit()">
        <span>Ajouter une ligne</span>
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </form>
</mat-card>
