<mat-card class="cardWithShadow overflow-hidden">
    <form [formGroup]="venteForm">
        <mat-card-content>
            <div class="d-flex  justify-content-between flex-lg-row flex-column p-3">
                <mat-card-title class="m-b-4">Faire une vente</mat-card-title>
                <button mat-flat-button color="primary"  (click)="confirmVente()" [disabled]="venteForm.invalid" >
                    <span>Confirmer la vente</span>
                    <mat-icon>add_circle</mat-icon> 
                </button>
            </div>
        </mat-card-content>
        <div class="row">
            <!-- Prénom du client -->
            <div class="col-12 col-md-6">
              <!-- <mat-label class="f-w-600 m-b-8 d-block">Prénom du client</mat-label> -->
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Prénom du client" formControlName="prenom" />
                <mat-error *ngIf="venteForm.get('prenom')?.touched && venteForm.get('prenom')?.invalid">
                  Le prénom du client est obligatoire
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Nom du client -->
            <div class="col-12 col-md-6">
              <!-- <mat-label class="f-w-600 m-b-8 d-block">Nom du client</mat-label> -->
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Nom du client" formControlName="nom" />
                <mat-error *ngIf="venteForm.get('nom')?.touched && venteForm.get('nom')?.invalid">
                  Le nom du client est obligatoire
                </mat-error>
              </mat-form-field>
            </div>  
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="ventes" formArrayName="produits"  class="w-100">
                <ng-container matColumnDef="produit">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
                        Produit
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="col-3">
                        <div [formGroupName]="i" >
                            <ng-select formControlName="produit" style="border: 2px solid #000;">
                                <ng-option *ngFor="let item of produits" [value]="item.id">{{item.nom}}</ng-option>
                            </ng-select>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="prix_vente_grammes">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
                        Prix de vente
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <div [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <input matInput min="1" type="number" placeholder="Prix" formControlName="prix_vente_grammes">
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="quantite">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
                        Quantité
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <div [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <input matInput min="1" type="number" placeholder="Quantité" formControlName="quantite">
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="menu">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
                        Actions
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <button mat-icon-button color="warn" (click)="removeVenteLine(i)" *ngIf="ventesArray.length > 1">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="padding-bottom-3 col-12 d-flex justify-content-center">
            <button mat-flat-button color="primary" (click)="addVenteNewLine()">
                <span>Ajouter une ligne de vente</span>
                <mat-icon>add_circle</mat-icon> 
            </button>
        </div>
    </form>
</mat-card>